<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swissup_refinedurl>
            <product_url>
                <shortened>1</shortened>
            </product_url>
        </swissup_refinedurl>
    </default>
</config>
