<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="product_url_path_update_on_duplicate" instance="Swissup\RefinedUrl\Observer\ProductUrlPathFixOnDuplicte"/>
    </event>
</config>
